/.htaccess
/config.inc.php
/.buildpath
data/database.mwb.bak
/.idea/
/plugins.json
/xhprof
/phpmyadmin
/sitemaster
/tests/report
/.vagrant
/beanstalk_console
/wdn
/scripts/sitemaster_phantom_complied.js
/scripts/sitemaster_phantom_complied_test.js
/plugins/
/node_modules/