form input[type=email],form input[type=number],form input[type=password],form input[type=search],form input[type=tel],form input[type=text],form input[type=url],form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bg-input);
    border: 1px solid var(--b-input);
    border-radius: 3px;
    color: inherit;
    font-family: inherit;
    padding: .56em .75em;
    -webkit-transition: border-color .4s ease-out,-webkit-box-shadow .4s ease-out;
    transition: border-color .4s ease-out,-webkit-box-shadow .4s ease-out;
    transition: border-color .4s ease-out,box-shadow .4s ease-out;
    transition: border-color .4s ease-out,box-shadow .4s ease-out,-webkit-box-shadow .4s ease-out;
    width: 100%
}

form input[type=email]:hover,form input[type=number]:hover,form input[type=password]:hover,form input[type=search]:hover,form input[type=tel]:hover,form input[type=text]:hover,form input[type=url]:hover,form textarea:hover {
    border-color: var(--b-input-hover);
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out
}

form input[type=email]:focus,form input[type=number]:focus,form input[type=password]:focus,form input[type=search]:focus,form input[type=tel]:focus,form input[type=text]:focus,form input[type=url]:focus,form textarea:focus {
    border-color: var(--b-input-focus);
    -webkit-box-shadow: 0 0 0 3px var(--bg-body),0 0 0 5px var(--b-input-focus);
    box-shadow: 0 0 0 3px var(--bg-body),0 0 0 5px var(--b-input-focus);
    outline: none;
    -webkit-transition: -webkit-box-shadow .2s ease-out;
    transition: -webkit-box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out,-webkit-box-shadow .2s ease-out
}

.centered {
    float: none!important;
    margin: 0 auto!important
}

.clear {
    clear: both
}

.clear-top {
    margin-top: 0!important
}

.hidden {
    display: none
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) {
    background-color: transparent;
    border-bottom: 1px solid var(--b-table);
    max-width: 100%;
    width: 100%
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) tbody,table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) thead {
    font-size: .84em
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) td,table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) th {
    border: 1px solid var(--b-table);
    padding-left: 1em;
    padding-right: 1em
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) thead td,table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) thead th {
    padding-bottom: .75em;
    padding-top: 1.33em;
    vertical-align: bottom
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) tbody td,table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) tbody th {
    padding-bottom: .75em;
    padding-top: .75em;
    vertical-align: top
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) tbody tr:nth-of-type(2n) {
    background-color: var(--bg-table-stripe)
}

.unl div+h1,.unl div+h2,.unl div+h3,.unl div+h4,.unl div+h5,.unl div+h6,.unl img+h1,.unl img+h2,.unl img+h3,.unl img+h4,.unl img+h5,.unl img+h6,.unl li+h1,.unl li+h2,.unl li+h3,.unl li+h4,.unl li+h5,.unl li+h6,.unl p+h1,.unl p+h2,.unl p+h3,.unl p+h4,.unl p+h5,.unl p+h6,.unl section+h1,.unl section+h2,.unl section+h3,.unl section+h4,.unl section+h5,.unl section+h6,.unl span+h1,.unl span+h2,.unl span+h3,.unl span+h4,.unl span+h5,.unl span+h6,.unl ul+h1,.unl ul+h2,.unl ul+h3,.unl ul+h4,.unl ul+h5,.unl ul+h6 {
    margin-top: 1em
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix {
    zoom: 1;
}

.site-list .site {
    list-style-type: none;
    border-radius: 5px;
    padding: 5px;
}

.site-list .site .url a {
    color: var(--link);
}

.site .general-details {
    float: left;
    width: 75%;
}

.site .general-details .url {
    font-weight: bold;
    font-size: 1.4em;
    word-wrap: break-word;
}

.site .general-details .title {
    font-size: .8em;
}

.site .gpa {
    float: left;
    width: 25%;
    text-align: center;
}

.panel {
    border-style: solid;
    border-width: 1px;
    border-color: var(--b);
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: var(--bg-dialog);
}

/**
GPA
**/

.gpa {
    text-align: center;
}

.gpa .value {
    font-size: 2em;
}

.gpa .metric {
    font-size: .8em;
}

.gpa-4 {
    background-color: #2ad569;
}

/**
Site Nav
**/
.site-nav {
    background-color: var(--bg-lighter-gray);
    color: var(--body);
    padding: 5px;
    margin-bottom: 10px;
}

.site-nav nav ul {
    padding-left: 0px;
}

.site-nav .url {
    font-size: .75em;
}

.site-nav .title {
    font-size: 1.25em;
}

.site-nav .flexnav li a {
    background-color: #73767b;
    color: #fff;
    text-align: center;
}

@media (min-width: 800px) {
    .site-nav .flexnav li {
        width: 16.6666%;
    }
}

.results .site-header {
    border-bottom: 1px solid black;
}

.results .site-header .site-title {
    font-size: 1.25em;
    display: block;
}

.results .site-header .site-url {
    font-size: .75em;
    display: block;
}

/**
Forms
**/

form ul, form ol {
    padding-left: 0px;
    margin-left: 0px;
}

form li, form {
    list-style-type: none;
}

form .panel ul, form.panel ol {
    padding-left: 30px;
}

form .panel li {
    list-style-type: disc;
}

div.help-text {
    margin-left: 2em;
    font-size: .75em;
}

/**
Dashboard
**/

.visual-island {
    background-color: var(--bg-dialog);
    border:3px solid var(--b);
    border-radius:3px;
    margin-bottom:1em;min-height:9.2em
}

.dashboard .section-title {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    display: block;
}

.dashboard .section-help {
    font-size: .7em;
    text-align: center;
    display: block;
}

.dashboard-note {
    display: block;
    text-transform: initial;
    font-size: .75em;
    font-weight: normal;
}

.dashboard-metrics {text-transform:uppercase;font-weight:bold;letter-spacing:-0.05em}
.dashboard-metrics [class*=dashboard-]{display:block;text-align:center}
.dashboard-metrics .visual-island{margin-bottom:1em;min-height:7.2em}
.dashboard-metrics .visual-island.invalid{
    background-color:#C00;
    border:3px solid #900;
    color:#fff;
}
.dashboard-metrics .visual-island.valid{
    background-color: #00784e;
    border:3px solid #026140;
    border-radius:3px;
    color:#fff;
}
.dashboard-metrics .dashboard-metric{font-size:.8em}
.dashboard-metrics .sub{font-size:.75em;display:block}
.dashboard-value{font-size:2.75em;line-height:1}
.dashboard-value.date{font-size:1.8em;line-height:1.8}
.dashboard-value .secondary{font-size:.3em}
.more-info{
    background:rgba(0,0,0,0.3);
    border-radius:50%;
    color:rgba(255,255,255,0.8);
    float:right;
    text-shadow:-1px 0 1px rgba(0,0,0,0.3);
    width:1.5em;
    height:1.5em;
    line-height:1;
    text-align:center;
    cursor:help;
    position:absolute;
    top:8px;
    right:8px;
    padding-top:.3em
}
.more-info:hover:before{content:attr(data-helper-text);background:rgba(0,0,0,0.7);width:125px;display:block;position:absolute;bottom:100%;right:-100%;z-index:11;padding:.5em;border-radius:3px;text-transform:none}

.site-pass-fail-status > span {
    margin-top: .35em;
}

/**
Scan Summary
**/
.scan header {
    border-bottom: 1px solid var(--b);
    margin-bottom: 1em;
}

.scan header h2 {
    margin-bottom: 5px;
}

/**
Tables
**/
table {
    width: 100%;
}

/**
Scanned Page
**/
.metric-grade-details {
    margin-bottom: 2em;
    background-color: var(--bg-dialog);
    padding: 1em;
}

.page-scan-header {
    width: 100%;
    display: table;
    height: 7em;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--b);
}
.page-scan-header .details {
    width:90%;
    display: table-cell;
    vertical-align: middle;
}

.page-scan-header .letter-grade-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 4em;
}

.page-scan-header .details .title {
    font-size: 1.75em;
    font-weight: bold;
}

.page-scan-scoring tfoot .total {
    font-size: 2em;
    text-align: center;
}

.metric-grade-details .contents table td:first-child  {
    width: 70%;
}

/**
Metric Grades
**/
.metric-grade-details {
    margin-bottom: 2em;
    background-color: var(--bg-dialog);
    padding: 1em;
}

.metric-grade-details header {
    width: 100%;
    display: table;
    height: 7em;
    border-bottom: 1px solid var(--b);
}
.details {
    width:70%;
    display: table-cell;
    vertical-align: middle;
}
.details .title {
    display: block;
    font-size: 2em;
}
.details .changes {
    font-size: .75em;
}
.letter-grade-container, .score {
    display: table-cell;
    vertical-align: middle;
}
.metric-grade-details .letter-grade-container {
    min-width: 100px;
    text-align: center;
    font-size: 2em;
}
.score .earned {
    font-size: 1.5em;
    display: block;
}
.score .earned .points_available {
    font-size: .5em;
}
.score .weight {
    font-size: .75em;
}

.fix-mark {
    display: none;
}
.metric-description {
    border-bottom: 1px solid #d3d3d3;
}

.value-found-sm {
    font-size: .75em;
    display: block;
    margin-left: 1em;
    word-break: break-all;
}


/**
Info headers
**/
.head-container {
    width: 100%;
    display: table;
}
.head-container .left {
    display: table-cell;
    vertical-align: middle;
}
.head-container .right {
    display: table-cell;
    vertical-align: middle;
}
.site-nav .head-container .left {
    width: 70%;
}
.site-nav .head-container .right {
    text-align: right;
}

/**
Notices
**/
.notice {
    background: var(--bg-lightest-gray);
    padding: 1em;
}

.notice img {
    background-color: #f6f6f5;
}

.info-section {
    background-color: var(--bg-dialog);
    padding: 1em;
    margin-bottom: 1em;
}

.info-section header h3 {
    margin-top: .1em;
}

.info-section header h2 {
    margin-top: .1em;
}

.info-section table {
    table-layout: fixed;
}

.info-section table td:first-child  {
    word-wrap: break-word;
}

.info-section table th:first-child  {
    width: 70%;

}

.pages.info-section table th.path  {
    width: 60%;

}

.pages.info-section table th.grade  {
    width: 20%;

}

.changes.info-section table th:first-child  {
    width: 50%;
}

.fix-mark-details dt {
    font-weight: bold;
}

.fix-mark-details dd {
    margin-bottom: 1em;
}

.web-audit-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
}
.web-audit-grid-full{
    display:grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 64.063em){
    .web-audit-grid-1-2\@large{
        display:grid;
        grid-template-columns: 1fr 2fr;
    }
}



code {
    background-color: #fff;
    padding: .25em;
    border: 1px solid #000;
    margin-bottom: 10px;
}

pre code {
    display: block;
    padding: 1em;
}

pre, code {
    font-family: "Courier New", Courier, monospace;

    overflow: auto;

    word-wrap: break-word;
}

.metric-grade-details.grade_p {
    border-top: 5px solid #008A2C;
}

.metric-grade-details.grade_np {
    border-top: 5px solid #CC0000;
}

.read-more {
    text-align: center;
}

.sitemaster_core_admin_allsites table {
    table-layout: fixed;
    width: 100%;
}
.sitemaster_core_admin_allsites table th:first-child {
    width: 75%;
}
.sitemaster_core_admin_allsites table tr td:first-child {
    word-wrap: break-word;
}

.machine_name {
    font-size: .5em;
}

.sitemaster_core_auditor_metric_view table td {
    word-break: break-all;
}

.legend-container .title {
    font-size: 1.5em;
}

ul.line-legend {
    list-style: none;
    font-size: .7em;
    text-align: center;
}

ul.line-legend li {
    display: inline-block;
    margin-right: 1em;
}

.line-legend span.color {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: .25em;
    border-radius: 5px;
    vertical-align: middle;
}

.graph-container canvas {
    height: 15em !important;
    width: 100% !important;
}

button.display-history-table {
    padding: .75em;
    font-size: .5em;
}
