.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix {
    zoom: 1;
}

.site-list .site {
    list-style-type: none;
    border-radius: 5px;
    padding: 5px;
}

.site-list .site a {
    color: black;
}

.site .general-details {
    float: left;
    width: 75%;
}

.site .general-details .url {
    font-weight: bold;
    font-size: 1.4em;
    word-wrap: break-word;
}

.site .general-details .title {
    font-size: .8em;
}

.site .gpa {
    float: left;
    width: 25%;
    text-align: center;
}

.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #f2f2f2;
}

/**
GPA
**/

.gpa {
    text-align: center;
}

.gpa .value {
    font-size: 2em;
}

.gpa .metric {
    font-size: .8em;
}

.gpa-4 {
    background-color: #2ad569;
}

/**
Site Nav
**/
.site-nav {
    background-color: #c4c7ce;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
}

.site-nav nav {
    background-color: #eaedeb;
}

.site-nav nav ul {
    padding-left: 0px;
}

.site-nav .url {
    font-size: .75em;
}

.site-nav .title {
    font-size: 1.25em;
}

.site-nav .flexnav li a {
    background-color: #73767b;
    color: #fff;
}

.results .site-header {
    border-bottom: 1px solid black;
}

.results .site-header .site-title {
    font-size: 1.25em;
    display: block;
}

.results .site-header .site-url {
    font-size: .75em;
    display: block;
}

/**
Forms
**/

form ul, form ol {
    padding-left: 0px;
    margin-left: 0px;
}

form li, form {
    list-style-type: none;
}

form .panel ul, form.panel ol {
    padding-left: 30px;
}

form .panel li {
    list-style-type: disc;
}

/**
Dashboard
**/

.visual-island {
    background-color:rgba(222, 222, 222, 0.7);
    border:3px solid rgba(222, 222, 222, 0.9);
    border-radius:3px;
    margin-bottom:1em;min-height:9.2em
}

.dashboard .section-title {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    display: block;
}

.dashboard .section-help {
    font-size: .7em;
    text-align: center;
    display: block;
}
.dashboard-metrics {text-transform:uppercase;font-weight:bold;letter-spacing:-0.05em}
.dashboard-metrics [class*=dashboard-]{display:block;text-align:center}
.dashboard-metrics .visual-island{margin-bottom:1em;min-height:7.2em}
.dashboard-metrics .visual-island.invalid{background-color:#C00;border:3px solid #900;color:#fff;}
.dashboard-metrics .visual-island.valid{background-color:rgba(111,191,77,0.5);border:3px solid rgba(96,166,66,0.2);border-radius:3px;color:#234912;text-shadow:-1px 0 1px #fff;}
.dashboard-metrics .dashboard-metric{font-size:.8em}
.dashboard-metrics .sub{font-size:.75em;display:block}
.dashboard-value{font-size:2.75em;line-height:1}
.dashboard-value.date{font-size:1.8em;line-height:1.8}
.dashboard-value .secondary{font-size:.3em}
.more-info{background:rgba(0,0,0,0.3);border-radius:50%;color:rgba(255,255,255,0.8);float:right;text-shadow:-1px 0 1px rgba(0,0,0,0.3);width:1.5em;height:1.5em;line-height:1;text-align:center;cursor:help;position:absolute;top:8px;right:8px;padding-top:.3em}
.more-info:hover:before{content:attr(data-helper-text);background:rgba(0,0,0,0.7);width:125px;display:block;position:absolute;bottom:100%;right:-100%;z-index:11;padding:.5em;border-radius:3px;text-transform:none}

.site-pass-fail-status > span {
    margin-top: .35em;
}

/**
Scan Summary
**/
.scan header {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

.scan header h2 {
   margin-bottom: 5px;
}

/**
Tables
**/
table {
    width: 100%;
}

/**
Scanned Page
**/
.metric-grade-details {
    margin-bottom: 2em;
    background-color: #fff;
    padding: 1em;
}

.page-scan-header {
    width: 100%;
    display: table;
    height: 7em;
    margin-bottom: 2em;
    border-bottom: 1px solid black;
}
.page-scan-header .details {
    width:90%;
    display: table-cell;
    vertical-align: middle;
}

.page-scan-header .letter-grade-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 4em;
}

.page-scan-header .details .title {
    font-size: 1.75em;
    font-weight: bold;
}

.page-scan-scoring tfoot .total {
    font-size: 2em;
    text-align: center;
}

.metric-grade-details .contents table td:first-child  {
    width: 70%;
}

/**
Metric Grades
**/
.metric-grade-details {
    margin-bottom: 2em;
    background-color: #fff;
    padding: 1em;
}

.metric-grade-details header {
    width: 100%;
    display: table;
    height: 7em;
    border-bottom: 1px solid #d3d3d3;
}
.details {
    width:70%;
    display: table-cell;
    vertical-align: middle;
}
.details .title {
    display: block;
    font-size: 2em;
}
.details .changes {
    font-size: .75em;
}
.letter-grade-container, .score {
    display: table-cell;
    vertical-align: middle;
}
.metric-grade-details .letter-grade-container {
    min-width: 100px;
    text-align: center;
    font-size: 2em;
}
.score .earned {
    font-size: 1.5em;
    display: block;
}
.score .earned .points_available {
    font-size: .5em;
}
.score .weight {
    font-size: .75em;
}

.fix-mark {
    display: none;
}
.metric-description {
    border-bottom: 1px solid #d3d3d3;
}


/**
Info headers
**/
.head-container {
    width: 100%;
    display: table;
}
.head-container .left {
    display: table-cell;
    vertical-align: middle;
}
.head-container .right {
    display: table-cell;
    vertical-align: middle;
}
.site-nav .head-container .left {
    width: 70%;
}
.site-nav .head-container .right {
    text-align: right;
}

/**
Notices
**/
.notice {
    background: #e3f7fc;
    padding: 1em;
}

.info-section {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

.info-section header h3 {
    margin-top: .1em;
}

.info-section table {
    table-layout: fixed;
}

.info-section table td:first-child  {
    word-wrap: break-word;
}

.info-section table th:first-child  {
    width: 70%;
    
}

.changes.info-section table th:first-child  {
    width: 50%;
}

.fix-mark-details .modal-inner {
    padding: 1em;
}

.fix-mark-details dt {
    font-weight: bold;
}

pre {
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 10px;
    background-color: #EEE;
    overflow: auto;
    padding: 1em;
}

.metric-grade-details.grade_p {
    border-top: 5px solid #008A2C;
}

.metric-grade-details.grade_np {
    border-top: 5px solid #CC0000;
}